body {
background-color: rgb(248, 241, 232);
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#app {
    width: 100vw;
    height: 100vh;
    margin: 2%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(38, 255, 0);
}

.col-4 {
    width: 210px;
    height: 210px;
    font-size: 130px;
    border: 2px solid rgb(0, 0, 50);
    cursor: pointer;
}


button{
    border-radius: 10%;
    height: 50px;
    color: rgb(248, 241, 232);
    background-color: rgb(0, 0, 40);
}


